<div class="login-container">
    <div class="logo-section">
        <img id="logo" src="img/logo.png">  
    </div>
    <div class="login-section">
        <h1>Iniciar sesión</h1>
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm" >
            <div class="input-cointainer">
                <input type="text" name="username" ngModel required>
                <label for="username">Correo </label>
            </div>
            <div class="input-cointainer">
                <input type="password" name="password"ngModel required>
                <label for="contraseña">Contraseña</label>
            </div>
            <div class="recuperar">
                <a href="#">¿Has olvidado tu contraseña?</a>
            </div>
            <div class="boton">
                <button type="submit" [disabled]="!loginForm.valid">Iniciar sesión</button>
            </div>
        </form>
        
        <p>¿No tienes una cuenta? <a routerLink="/contactenos">Contáctenos</a></p>
    </div>
</div>
