<div class="login-container">
    <div class="logo">
        <img src="C:\Users\maria.hastamorir\CsRA\front-end\src\app\components\login\logo.png">
    </div>
    <div class="login-cuadro">
        <h1>Iniciar sesión</h1>
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="form">
            <input type="text" name="username" placeholder="Usuario" ngModel required>
            <br>
            <input type="password" name="password" placeholder="Contraseña" ngModel required>
            <br>
            <button type="submit" [disabled]="!loginForm.valid">Iniciar sesión</button>
        </form>
        <a href="#">¿Has olvidado tu contraseña?</a>
        <p>¿No tienes una cuenta? <a href="#">Contáctenos</a></p>
    </div>
</div>
